src/main/resources/xsd/booking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Bookings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Booking" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="bookingId" type="xs:int"/>
                            <xs:element name="passengerId" type="xs:int"/>
                            <xs:element name="flightId" type="xs:int"/>
                            <xs:element name="bookingDate" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
