src/main/resources/xsd/booking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="bookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="booking" type="BookingType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="BookingType">
    <xs:sequence>
      <xs:element name="passengerId" type="xs:int"/>
      <xs:element name="flightId" type="xs:int"/>
      <xs:element name="bookingDate" type="xs:dateTime"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>

</xs:schema>
